.jobDetail{
 padding-left:15px;
}


		ul.twitbox {
			width: 230px;
			list-style: none;
			margin: 0;
			padding: 0;
		}
		ul.twitbox li{
			background:none;
			border-bottom:1px dashed #D2DADA;
			padding: 10px 0;
			font-size: 12px;
			font-family: 'Lucida Grande',sans-serif;
			color: #333333;
			min-height:50px;
		}
		ul.twitbox li img {
			padding-right:10px;
		}
		ul.twitbox li a {
			color: #0084B4;
			text-decoration: none;
		}
		ul.twitbox li a:hover { text-decoration: underline; }
		ul.twitbox span.twhen {
			color: #999999;
			font-family: georgia;
			font-size: 10px;
			font-style: italic;
			padding-top: 5px;
		}
		ul.twitbox span.twhen a{
			color: #999999;
			font-family: georgia;
			font-size: 10px;
			font-style: italic;
			padding-top: 5px;
		}



/* Tips for this Hybrid layout
1. Since the side columns em-based sizing is based on the user's default font size, you will want to be sure that background graphics in the columns take that into account. Built correctly, this is more accessible for those that need larger font sizes, since the width of the columns remains proportionate. If this is undesirable with your design, simply change the width to a pixel size and be sure to change the margins on the #mainContent div accordingly.
2. Since the sizing of side columns in this layout are based on the 100% font size in the body element, if you decrease the text size overall by using a font-size: 80% on the body element or the #container, remember that the column widths will downsize proportionately. You may want to increase their widths, and the size of the #mainContent div's side margins, to compensate for this.
3. If font sizing is changed in differing amounts on each div instead of on the overall design (ie: #sidebar1 is given a 70% font size and #mainContent is given an 85% font size), this will proportionately change each of the divs overall size. You may want to adjust based on your final font sizing.
4. The #container div is not necessary for this layout at the 100% width. You may want to use it to create faux columns or limit the width of the layout.
5. It is not neccessary to have the 100% width on the #container div since, by nature, a div takes up 100% of the available space. It is here so that if you want to decrease the size of the overall container - perhaps leaving a bit of margin on each side - this will already be available for adjustment.
*/
.page #container { 
	width: 100%;
	background: #FFFFFF;
	/*Set default alignment to centre otherwise IE6 will not centre the main contant and header */
	text-align: center;
}  
 
.page #header h1 {
	margin: 0; /* zeroing the margin of the last element in the #header div will avoid margin collapse - an unexplainable space between divs. If the div has a border around it, this is not necessary as that also avoids the margin collapse */
	/*padding: 10px 0;*/ /* using padding instead of margin will allow you to keep the element away from the edges of the div */

}

/*
	Defaults
*/
body 
{
	background-color:#fff;
	color:#333;
	font-family: Verdana,'Trebuchet MS','Lucida Grande', Arial, sans-serif;
	font-size:small;
	margin:0;
	padding:0;
	font-size:0.76em;
}
p 
{
	line-height:1.8em;
	margin:0.5em 0;
}
a:link, a:visited 
{
	color:#236B8E;
	text-decoration:none;
	border-bottom:none;
}
a:hover, a:active 
{
	text-decoration:none;
	border-bottom: 1px solid;
}
h1,h2,h3,h4,h5,h6 
{
	font-family:Georgia, Tahoma, Arial, Serif;
	font-weight:normal;
	line-height:1.6em;
}
h2, h3 {
	font-size:1.6em;
	margin:10px 0;
}

h4 {
	font-size:1.3em;
}
ul 
{
	list-style-image:url(images/arrow.gif);
	margin:5px 10px;
	padding:1em;
}
li 
{
	line-height:1.6em;
	margin-bottom:0.5em;
}
/*
	Primary Menu
*/
#navigation {
	width:980px;
	clear:both;
	height:32px;
	margin:0 auto;
	padding:0px;
	text-align:center;
	font-size:1.1em;

}
	/*
		Primary navigation LIST formatting
	*/
#navigation ul
{
	list-style:none;
}
#navigation li 
{
	/*line-height:23px;*/
	float:left;
	list-style:none;
	margin:0;
}
#navigation ul .links, #navigation ul li{
	margin:0;
	padding:0;
}
	/*
		Primary navigation LINK formatting
	*/
#navigation a:link, #navigation a:visited 
{
/*	background:#FFF url(images/active1.gif) left bottom no-repeat;*/
	color:#787878;
/*	height:24px; */
	margin-right:2px;
	padding-left:12px;
	text-decoration:none;
	border:none;
/*padding-top:10px;*/
}
/*
li#navigation a:link, li#navigation a:link span,
li#navigation a:visited, li#navigation a:visited span 
*/
#navigation a:link, #navigation a:link span,
#navigation a:visited, #navigation a:visited span 
{
	cursor:pointer;
	display:block;
	float:left;
	border:none;
}
#navigation a:hover 
{
/*	background:url(images/active1.gif) left bottom no-repeat;*/
	color:#040;
/*	height:24px;*/
	padding-left:12px;
	text-decoration:none;
	border:none;
}
#navigation a:link span,
#navigation a:visited span,
#navigation a:hover span 
{
	background:url(images/active2.gif) right bottom no-repeat;
	padding-right:12px;
	height:24px;
	border:none;
}
#navigation a.active:link,
#navigation a.active:visited 
{
/*	background:#FFF url(images/current1.gif) left bottom no-repeat;*/
	color:#000   ;
	/*line-height:24px;*/
	/*height:27px;*/
	margin-right:2px;
	padding-left:15px;
	text-decoration:none;
	border:none;
}
#navigation a.active:hover 
{
/*	background:#FFF url(images/current1.gif) left bottom no-repeat;*/
	color:#AAC8E0;
	/*height:27px;*/
	margin-right:2px;
	padding-left:15px;
	text-decoration:none;
	border:none;
}
#navigation a.active:link span,
#navigation a.active:visited span,
#navigation a.active:hover span 
{
	background:url(images/current2.gif) right bottom no-repeat;
	/*height:27px;*/
	padding-right:15px;
	border:none;
}
/*
	Logo
	Updated 26/4/08 to allow for an image logo
*/
#logoandtitle {
	height:180px;
	width:980px;
	margin:0 auto;
}
#logoandtitle div.logo{
	float: left;
	margin:0px;
	padding-top:0px;				/*You may need to alter this to fir your logo*/
}
#logoandtitle div.logo img{
	padding:0px;
	margin:0;
	border:none;	
}
#logoandtitle div.logo a:hover{
	border-bottom:none;
}
#logoandtitle div.title{
	float: left;
	margin:0px;
	padding-top:0px;				/*You may need to alter this to fir your logo*/
}
/*
	Header
*/
#header {
	background:url("images/top.gif") top repeat-x;
	height:180px;
	margin:0;
	padding:0;
	width:100%;
}
#header h1{
	height:30px;
	color: white;
	
	text-align:left;
	margin:5px 0 0 10px;
	padding-bottom:15px;
}

#header h1 a {
	margin:5px 0 0 12px;
	color: white;
	font-size:1.3em;
}
#header h2 {
	color:#CAE972;
	font-size:1em;
	font-style:italic;
	padding-left:12px;
	text-align:left;
	font-family: Verdana,'Trebuchet MS','Lucida Grande', Arial, sans-serif;
}

/*
	Content
*/
#content 
{
	display:inline;
	float:left;
	text-align:left;
	width:65%;
	margin:2%;
	
	padding:0;
}
/*
	Sidebar
*/
#sidebar 
{
	display:inline;
	float:right;
	padding-top:5px;
	width:25%;
	margin:5px 0px 20px 0;
	padding-left:20px;
	border-left:#ddd 1px dashed;
	font-size:90%;
	text-align: left;	
}
#sidebar h2 
{
	border-bottom:#eed 3px double;
	font-size:18px;
	color:#459045;
	letter-spacing:0;
	margin:0;
	padding:5px 0;
}
#sidebar p 
{
	margin:10px 0;
}
#sidebar a
{
	color:#516F86;
}

/*
	Content wrapper
*/
#wrap {
	width:980px;
	margin:0 auto;
	overflow:hidden;
	padding-left:10px;
	padding-right:10px;
	position:relative;

}
/*
	Footer
*/
#footer {
	background:#223344 url(images/top.gif) bottom repeat-x;
	clear:both;
	height:60px;
	padding:10px;
	text-align:center;
	margin:0 auto;
	color:#ccc;
}
/*
	Form elements
*/
fieldset 
{
	border:none;
}
input[type="text"],input[type="password"]
{
	border:#ccc 1px solid;
	background:#fff url(images/postbg.jpg) repeat-y top left;
	font:1em Verdana, Arial, Serif;
	padding:2px 5px;
	width:150px;
}
input[type="text"]:focus,input[type="password"]:focus
{
	border:#999 1px solid;
}
textarea{
	width: 90%;
	padding:5px;
	height: 20em;
	border: 1px solid #ccc;	
	background:#fff url(images/postbg.jpg) repeat-y top left;
	font:1em Verdana, Arial, Serif;
}
#mission{
	border:#ccc 1px solid;
	background:#fff url(images/postbg.jpg) repeat-y top left;
	font:1em Verdana, Arial, Serif;
	padding:2px 5px;
	width:100%;
}
/*
	Comments
*/
.post{
	border-left:#ccc 1px solid;
	background:#ffe;
}
.post .content {
	margin:5px 0 0 1px;
	background:#eed;
	border-left:#aaa 1px solid;
}
.post_info {
	color:#4b5ba2;
}

.post_info a {
	color:#333;
	font:bold 110% "Trebuchet MS", "Lucida Grande", verdana, helvetica, arial, sans-serif;
	text-decoration:underline;
}
.comments ul{

	/*display: inline;*/
	/*	list-style-image:url(images/arrow.gif);
	margin:5px 10px;
	padding:1em;
	
	margin: 0;
	padding:0;*/
}
/*
	Published / Node posting information
	i.e. Published by nick on October 25th, 2007
*/
.submitted {
	color:#999;
	margin:0;
	padding:0;
	font-size:90%;
}
/*
	Node formatting
*/
.node .links ul,.node .links li{
	list-style: none;
	display: inline;
}
.node .links li{
	padding-left:16px;
	padding-right:16px;
	background:url(images/arrow.gif) no-repeat left center;
}

.node p a:link,.node p a:visited {
	border-bottom:1px dashed;
}

.node {
	/*margin:10px 0;
	padding:15px 0;*/
	border-bottom:#eed 3px double;
}

.node .content{
	padding:0;
	padding-left:5px;
/*	background:#fff url(images/postbg.jpg) repeat-y top left;*/
	text-align: justify;
}
.node a:active,.node a:hover {
	border-bottom:1px solid;
}
h2,h3 {
	color:#1e2546;
	display:block;
	font-size:1.5em;
	margin:0;
}
h3.title{
	margin-top:1em;
}
h3.title a {
	border:none;
	text-decoration:none;
}
h3 a:link,h3 a:visited,h3 a:hover,h3 a:active {
	color:#1e2546;
	border: none;
}
/*
	Images
*/
img 
{
	background:url(images/shadow.gif) no-repeat right bottom;
	padding:4px 10px 10px 4px;	
	border:none;
	border-top:#eee 1px solid;
	border-left:#eee 1px solid;	
}
a img {
	border:none;
	background:none;
	padding:0;
	background:url(images/shadow.gif) no-repeat right bottom;
	padding:4px 10px 10px 4px;	
	border-top:#eee 1px solid;
	border-left:#eee 1px solid;	
}
img.wp-smiley 
{
	border:none;
	padding:0;
	background:none;
}
img.right 
{
	float: right;
	margin:10px 0 0 10px;	
}
img.left 
{
	float: left; 
	margin:0 10px 10px 0;
}
/*
	Feed Icon (was #sidebar ul#feed li )
*/
.feed_icon
{
	list-style:none;
	margin:0;
	padding:5px 20px;
	background:url(images/feed-icon.png) no-repeat left ;
}
#rss_feeds a:hover
{
	border:none;
	text-decoration:underline;
}
/*
	Quotes
*/
blockquote
{
	color:#666;
	margin: 1em;
	padding: 0 0 10px 50px;
	background: url(images/blockquote.gif) no-repeat left top;	
}
/*
	breadcrumb
*/
.breadcrumb{
	font-size: .9em;
}
.block{
	clear:both;
}
/*
	Trackback
*/
#trackback-url
{
	font-size: 1em;
	text-align: left;
	margin-bottom: 10px;
	font-family: Verdana,'Trebuchet MS','Lucida Grande', Arial, sans-serif;
}
#trackback-url h2
{
	font-weight:bold;
	font-size: 1em;
	text-align: left;
	margin-bottom: 10px;
	font-family: Verdana,'Trebuchet MS','Lucida Grande', Arial, sans-serif;
}
#trackback-url div.content,#trackback-url h2
{
	display: inline;
	background:transparent;
}
/*
	Service links
*/
.service-links{
	margin-top:25px;
	margin-bottom:0.5em;
	text-align:left;
}
.service-label
{
	display:inline;
	font-weight:bold;
}
.service-links ul
{
	display:inline;
}
.service-links ul.links li
{
	background:none;
	padding:0;
}
.service-links ul.links li img
{
	background:none;
	padding:0;
}
.item-list ul li
{
	list-style:none;
	margin:10px 0;
	padding:5px 5px 5px 5px;
	background-color:#EEE;
	border-style:solid;
	border-width:2px;
	border-color:#CCC;

}